# Copyright 2022 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# Author: Tim Fischer <fischeti@iis.ee.ethz.ch>

variables:
  VSIM: 'questa-2025.1 vsim'
  VCS: 'vcs-2025.06 vcs'
  VLOGAN: 'vcs-2025.06 vlogan'
  PEAKRDL: '/home/fischeti/.local/bin/uv run peakrdl'
  UV_LINK_MODE: copy

stages:
  - build
  - test

build-vsim:
  stage: build
  script:
    - make slink-gen-regs SLINK_NUM_CHANNELS=${NUM_CHANNELS}
    - make vsim-compile WORK=work_${NUM_CHANNELS} | tee compile.log 2>&1
    - '! grep "\*\* Error" compile.log'
  parallel:
    matrix:
      - NUM_CHANNELS: [1, 4]
  artifacts:
    paths:
      - work_${NUM_CHANNELS}

build-vcs:
  stage: build
  script:
    - make slink-gen-regs SLINK_NUM_CHANNELS=${NUM_CHANNELS}
    - make bin/${TB_DUT}_${NUM_CHANNELS}.vcs
  parallel:
    matrix:
      - NUM_CHANNELS: [1, 4]
        TB_DUT: [tb_axi_serial_link, tb_ch_calib_serial_link]
  artifacts:
    paths:
      - bin/${TB_DUT}_${NUM_CHANNELS}.vcs*

run-vsim:
  stage: test
  needs:
    - build-vsim
  script:
    - echo "Running AXI test with R/W [$NUM_READS_1,$NUM_WRITES_1] <-> [$NUM_READS_2,$NUM_WRITES_2]"
    - >
      make vsim-run-batch TB_DUT=${TB_DUT} WORK=work_${NUM_CHANNELS}
      SIM_ARGS="+NUM_READS_1=$NUM_READS_1 +NUM_WRITES_1=$NUM_WRITES_1
      +NUM_READS_2=$NUM_READS_2 +NUM_WRITES_2=$NUM_WRITES_2
      +NUM_FAULTS_1=$NUM_FAULTS_1 +NUM_FAULTS_2=$NUM_FAULTS_2"
      | tee vsim.log 2>&1
    - (! grep -n "Error:" vsim.log)
    - (! grep -n "Fatal:" vsim.log)
  parallel:
    matrix:
      - TB_DUT: [tb_axi_serial_link]
        NUM_CHANNELS: [1, 4]
        NUM_READS_1: [0, 100]
        NUM_WRITES_1: [0, 100]
        NUM_READS_2: [0, 100]
        NUM_WRITES_2: [0, 100]
      - TB_DUT: [tb_ch_calib_serial_link]
        NUM_CHANNELS: [4]
        NUM_FAULTS_1: [0, 1, 2]
        NUM_FAULTS_2: [0, 1, 2]
        NUM_READS_1: [10]
        NUM_WRITES_1: [10]
        NUM_READS_2: [10]
        NUM_WRITES_2: [10]
  timeout: 15 minutes

run-vcs:
  stage: test
  needs:
    - build-vcs
  script:
    - echo "Running AXI test with R/W [$NUM_READS_1,$NUM_WRITES_1] <-> [$NUM_READS_2,$NUM_WRITES_2]"
    - >
      make vcs-run-batch TB_DUT=${TB_DUT}_${NUM_CHANNELS} WORK=work_${NUM_CHANNELS}
      SIM_ARGS="+NUM_READS_1=$NUM_READS_1 +NUM_WRITES_1=$NUM_WRITES_1
      +NUM_READS_2=$NUM_READS_2 +NUM_WRITES_2=$NUM_WRITES_2
      +NUM_FAULTS_1=$NUM_FAULTS_1 +NUM_FAULTS_2=$NUM_FAULTS_2"
      | tee vcs.log 2>&1
    - (! grep -n "Error-\[" simulate.log)
  parallel:
    matrix:
      - TB_DUT: [tb_axi_serial_link]
        NUM_CHANNELS: [1, 4]
        NUM_READS_1: [0, 100]
        NUM_WRITES_1: [0, 100]
        NUM_READS_2: [0, 100]
        NUM_WRITES_2: [0, 100]
      - TB_DUT: [tb_ch_calib_serial_link]
        NUM_CHANNELS: [4]
        NUM_FAULTS_1: [0, 1, 2]
        NUM_FAULTS_2: [0, 1, 2]
        NUM_READS_1: [10]
        NUM_WRITES_1: [10]
        NUM_READS_2: [10]
        NUM_WRITES_2: [10]
  timeout: 15 minutes
