# Copyright 2022 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# Author: Tim Fischer <fischeti@iis.ee.ethz.ch>

variables:
  VSIM: 'questa-2025.1 vsim'
  VCS: 'vcs-2025.06 vcs'
  VLOGAN: 'vcs-2025.06 vlogan'
  PEAKRDL: '/home/fischeti/.local/bin/uv run peakrdl'
  UV_LINK_MODE: copy

stages:
  - build
  - test

build-vsim:
  stage: build
  script:
    - make update-regs NUM_CHANNELS=${NUM_CHANNELS}
    - make vsim-compile WORK=work_vsim_${NUM_CHANNELS} | tee compile.log 2>&1
    - '! grep "\*\* Error" compile.log'
  parallel:
    matrix:
      - NUM_CHANNELS: [1, 4, 38]
  artifacts:
    paths:
      - work_vsim_${NUM_CHANNELS}

build-vcs:
  stage: build
  script:
    - make update-regs NUM_CHANNELS=${NUM_CHANNELS}
    - make bin/${TB_DUT}_${NUM_CHANNELS}.vcs
  parallel:
    matrix:
      - NUM_CHANNELS: [1, 4, 38]
        TB_DUT: [tb_axi_serial_link, tb_ch_calib_serial_link]
  artifacts:
    paths:
      - bin/${TB_DUT}_${NUM_CHANNELS}.vcs

# run_vsim_axi:
#   stage: test
#   needs:
#     - build_vsim
#   script:
#     - echo "Running AXI test with R/W [$NUM_READS_1,$NUM_WRITES_1] <-> [$NUM_READS_2,$NUM_WRITES_2]"
#     - make run TB_DUT=tb_axi_serial_link WORK=work-vsim RUN_ARGS="+NUM_READS_1=$NUM_READS_1 +NUM_WRITES_1=$NUM_WRITES_1 +NUM_READS_2=$NUM_READS_2 +NUM_WRITES_2=$NUM_WRITES_2"
#   variables:
#     TEST_LENGTH: 100
#   parallel:
#     matrix:
#       - NUM_READS_1: [0, $TEST_LENGTH]
#         NUM_WRITES_1: [0, $TEST_LENGTH]
#         NUM_READS_2: [0, $TEST_LENGTH]
#         NUM_WRITES_2: [0, $TEST_LENGTH]
#   timeout: 15 minutes

# run_vsim_ch_calib:
#   stage: test
#   needs:
#     - build_vsim
#   script:
#     - echo "Running Channel Calibration test with [$NUM_FAULTS, $NUM_FAULTS]"
#     - make run TB_DUT=tb_ch_calib_serial_link WORK=work-vsim RUN_ARGS="+NUM_FAULTS_1=$NUM_FAULTS +NUM_FAULTS_2=$NUM_FAULTS"
#   parallel:
#     matrix:
#       - NUM_FAULTS: [0, 3, 7]
#   timeout: 15 minutes

# run_vsim_single_channel:
#   stage: test
#   needs:
#     - build_vsim_single_channel
#   script:
#     - echo "Running test with single channel instance"
#     - make run TB_DUT=tb_axi_serial_link WORK=work-vsim-single-channel
#   timeout: 15 minutes

# run_vcs_axi:
#   stage: test
#   needs:
#     - build_vcs_axi
#   script:
#     - echo "Running AXI test with R/W [$NUM_READS_1,$NUM_WRITES_1] <-> [$NUM_READS_2,$NUM_WRITES_2]"
#     - bin/serial_link_axi.vcs +permissive -exitstatus +NUM_READS_1=$NUM_READS_1 +NUM_WRITES_1=$NUM_WRITES_1 +NUM_READS_2=$NUM_READS_2 +NUM_WRITES_2=$NUM_WRITES_2 +permissive-off
#   variables:
#     TEST_LENGTH: 100
#   parallel:
#     matrix:
#       - NUM_READS_1: [0, $TEST_LENGTH]
#         NUM_WRITES_1: [0, $TEST_LENGTH]
#         NUM_READS_2: [0, $TEST_LENGTH]
#         NUM_WRITES_2: [0, $TEST_LENGTH]
#   timeout: 15 minutes

# run_vcs_ch_calib:
#   stage: test
#   needs:
#     - build_vcs_ch_calib
#   script:
#     - echo "Running Channel Calibration test with [$NUM_FAULTS, $NUM_FAULTS]"
#     - bin/serial_link_ch_calib.vcs +permissive -exitstatus +NUM_FAULTS_1=$NUM_FAULTS +NUM_FAULTS_2=$NUM_FAULTS +permissive-off
#   parallel:
#     matrix:
#       # TODO: Check why CI fails with 7 faults in VCS
#       # - NUM_FAULTS: [0, 3, 7]
#       - NUM_FAULTS: [0, 3]
#   timeout: 15 minutes

# run_vcs_single_channel:
#   stage: test
#   needs:
#     - build_vcs_single_channel
#   script:
#     - echo "Running test with single channel instance"
#     - bin/serial_link_single_channel.vcs
#   timeout: 15 minutes
